{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block app_content %}
<div class="view" style="height:100vh">
<div class="col-md-8 col-md-offset-4">
  <div class="card card-login mx-auto mt-5">
    <div class="row">
      <div class="col-md-6">
        <div class="card-header"><h2 align="center">Register</h2></div>
        {{ wtf.quick_form(form, button_map={'submit':'btn btn-primary btn-block'}) }}
        <div class="text-center">
          <a class="d-block small mt-3" href="{{ url_for('auth.login') }}">Login</a>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}

