{% extends "base.html" %}

{% block content %}
<div id="page-wrapper" style="height:100vh">
  <div class="col-md-8 col-md-offset-4">
    <div class="card card-login mx-auto mt-5">
      <div class="row">
        <div class="col-md-6">
          <h4>The page cannot be found</h4>
          <p>The page you are looking for might have been removed, had its name changed or is temporarily unavailable.</p>
          <hr>
          <p>Please try the following
          <ul>
            <li>If you typed the page address in the Address bar, make sure that it is spelled correctly.</li>
            <li>Open the <a href="https://httpd.apache.org">httpd.apache.org</a> home page, and then look for links to the information you want.</li>
            <li>Click the <a href="javascript:history.back();">Back</a> button to try another link.</li>
            <li>Click <a href="https://www.google.com">Search</a> to look for information on the internet.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
